<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href=”main.css” rel=”stylesheet”>

    <link rel="shortcut icon" href="icon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Stock Management System</title>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Manage_Users">Manage Users</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" id="navSearchBar" placeholder="Search for products">
                    <button class="btn btn-primary" onclick="navSearch()" type="button">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!--Navigation bar-->
</head>
<body>
<h1 class="pt-2 text-center">Manage Users</h1>

<div id="manageAccount">
    <table class="table text-center">
        <tr>
        <th>User</th>
        <th>Permissions</th>

            <!-- Reading managers, staff and customer list from python-->
            {% for user in users %}
            <tr>
            <td><a>{{user[1] + " " + user[2] + " (ID: " + user[0] + ")"}}
            {% if "M" in user[0]%}
            {% set manager = "checked" %}
            {% elif "E" in user[0]%}
            {% set employee = "checked" %}
            {% else %}
            {% set customer = "checked" %}
            {%  endif %}
            <td><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
            <input type="radio" name="{{user[0]}}" id="managerSelect{{user[0]}}" autocomplete="off" {{manager}}> Manager
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="{{user[0]}}" id="employeeSelect{{user[0]}}" autocomplete="off" {{employee}}> Staff
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="{{user[0]}}" id="customerSelect{{user[0]}}" autocomplete="off" {{customer}}> Customer
            </label>
            <label class="btn btn-primary">
            <button button class="btn btn-primary" id="saveButton{{user[0]}}" >Save Changes</button>
            </label>
            </div>
            </td>
            </a>
            </td>
            </tr>
            {% endfor %}

        </td>
        </tr>
    </table>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="static/manage_users.js"> </script>

</body>
</html>
