<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href=”main.css” rel=”stylesheet”>

    <link rel="shortcut icon" href="icon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Stock Management System</title>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Manage_Users">Manage Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navigation bar-->

    <style>
        body {
          background-image: url("static/Background.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
    </style>
</head>

<body>
    <h1 class="pt-2 text-center">Manage Users</h1>

<div>
    <table class="table text-center"> 
        <tr>
        <th>User</th>
        <th>Permissions</th>
            <!-- Reading staff list from python-->
            {% for user in managers %}
            <tr>
            <td><a class="">{{user[1] + " " + user[2] + " (ID: " + user[0] + ")"}}
            <td><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
            <input type="radio" name="options" id="staffSelect" autocomplete="off"> Manager
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="options" id="managerSelect" autocomplete="off"> Staff
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="options" id="customerSelect" autocomplete="off"> Customer
            </label>
            <label class="btn btn-primary">
            <button button class="btn btn-primary" id="saveButton" >Save Changes</button>
            </label>
            </div>
            </td>
            </a>
            </td>
            </tr>
            {% endfor %}
            <!-- Reading staff list from python-->
            {% for user in employees %}
            <tr>
            <td><a class="">{{user[1] + " " + user[2] + " (ID: " + user[0] + ")"}}
            <td><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
            <input type="radio" name="options" id="staffSelect" autocomplete="off"> Manager
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="options" id="managerSelect" autocomplete="off"> Staff
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="options" id="customerSelect" autocomplete="off"> Customer
            </label>
            <label class="btn btn-primary">
            <button button class="btn btn-primary" id="saveButton" >Save Changes</button>
            </label>
            </div>
            </td>
            </a>
            </td>
            </tr>
            {% endfor %}
            <!-- Reading staff list from python-->
            {% for user in customers %}
            <tr>
            <td><a class="">{{user[1] + " " + user[2] + " (ID: " + user[0] + ")"}}
            <td><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
            <input type="radio" name="options" id="staffSelect" autocomplete="off"> Manager
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="options" id="managerSelect" autocomplete="off"> Staff
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="options" id="customerSelect" autocomplete="off"> Customer
            </label>
            <label class="btn btn-primary">
            <button button class="btn btn-primary" id="saveButton" >Save Changes</button>
            </label>
            </div>
            </td>
            </a>
            </td>
            </tr>
            {% endfor %}
        </td>
        <!--<td><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary btn-lg">
            <input type="radio" name="options" id="staffSelect" autocomplete="off"> Staff
            </label>
            <label class="btn btn-primary btn-lg">
            <input type="radio" name="options" id="managerSelect" autocomplete="off"> Manager
            </label>
            </div>
            </td>-->
        </tr>
    </table> 
</div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>